@forward "../../node_modules/@uswds/uswds/packages/usa-summary-box/src/styles";

.wp-block-uswds-summary-box {
  margin-bottom: 1em;
  .usa-summary-box__text {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
